* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    width: 100%;
    height: 65px;
    background: rgb(163,205,208);
    background: linear-gradient(0deg, rgba(163,205,208,1) 0%, rgba(15,43,140,1) 100%);
}

.logo {
    height: 90%;
}

.navbar, .list-nav{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.list-nav a{
    color: black;
    font-size: 20px;
    font-weight: 500;
}

.navbar {
    gap: 50px;
}

.cart-icon{
    height: 30px;
    padding: 5px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 10px;
}

body{
    background-image: url(https://i.pinimg.com/originals/fc/21/16/fc2116fb21de12a62d4b36c31bbb1e6f.gif);
    background-size:cover;
    background-attachment: scroll;
}